body {
    background-image:url(recipes/imges/Pineapple.jpg);
    background-size: cover;
    height: 2200px ;
}
a{
    text-decoration: none;
    color: yellowgreen;
}
.footer{
    position: fixed;
    top: 90%;
    border: 1px solid;
    padding: 20px;
}